[access]
	inheritFrom = All-Projects
[project]
	description = New repository
[access "refs/*"]
	owner = group user/srinivask156
[access "refs/for/refs/*"]
	read = group user/srinivask156
	push = group user/srinivask156
	label-Code-Review = -2..+2 group user/srinivask156
	label-Verified = -1..+1 group user/srinivask156
	rebase = group user/srinivask156
	removeReviewer = group user/srinivask156
	submit = group user/srinivask156
[access "refs/heads/*"]
	read = group user/srinivask156
	create = group user/srinivask156
	push = +force group user/srinivask156
	pushMerge = group user/srinivask156
[access "refs/tags/*"]
	push = group user/srinivask156
	push = +force group user/srinivask156
